*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #0e0e0e;
    box-shadow: 0.2rem 0.2rem 0.6rem #000;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #777;
    font-weight: bold;
    padding-right: 2rem;
    text-decoration: none;
    transition: 0.15s ease-in-out;
}

.nav-link:hover {
    color: #fff;
}

.caption {
    font-size: 0.7rem;
}

.featured {
    display: grid;
    grid-template-areas: 
        "one two" 
        "one three";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1rem 0;
}

@media screen and (max-width: 800px) {
    .featured {
        grid-template-areas:
            "one"
            "two"
            "three";
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.featured-item-link {
    color: #bbb;
    text-decoration: none;
    transition: 0.15s ease-in-out;
    margin: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.6rem #222, 
        -0.2rem -0.2rem 0.6rem #000;
    height: 100%;
}

img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
}

.featured-item-link:hover {
    color: #fff;
    box-shadow: none;
}

.featured-item {
    height: auto;
    min-height: 5rem;
    max-width: 20rem;
}

.featured-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: one;
    height: 100%;
}

.featured-2 {
    grid-area: two;
}

.featured-3 {
    grid-area: three;
}

.projects {
    min-height: 20rem;
}

.project-name {
    margin: 0;
}

.project-item a {
    text-decoration: none;
}

.btn {
    border: none;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    transition: background 0.15s ease-in-out, transform 0.075s ease-in-out;
}

.btn-blue {
    background: #2962ff;
    color: #ededed;
}

.btn-blue:hover {
    background: #304ffe;
}

.btn-blue:active {
    transform: translateY(0.3rem)
}

.btn-clear {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #2962ff;
    transition: 0.15s ease-in-out;
}

.btn-clear:hover {
    color: #304ffe;
}

.searchbar {
    background-color: transparent;
    border: none;
    border-bottom: 0.125rem solid #aaa;
    color: #fff;
    font-size: 1rem;
    width: 100%;
}

.searchbar::placeholder {
    color: #aaa;
}

.searchbar:focus {
    border-bottom: 0.125rem solid #fff;
}

.flex {
    display: flex;
}

.center-complete {
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.center-text {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

.navbar {
    background-color: #121212;
    box-shadow: 1rem 1rem 3rem #090909, -1rem -1rem 3rem #1b1b1b;
    padding: 1rem 0;
    position: sticky;
    top: 0;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
}
